 <div class="nav_signup col-md-12">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-default btn-lg" %><br />
          <% end -%>
</div>