<div class="all-users">
	<div class="container">

		<div class="row">

		<h1 class="welcome">Check Out Other Users </h1>

			
			<% @users.each do |u| %>
			<div class="user col-md-4">
			<td> <%= u.firstname.upcase %></td><br>
			<td> <%= image_tag u.image, :class=> "profile-image"%></td><br>


			<!-- <td><%#= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
		                    "data-sid" => current_user.id, "data-rip" => u.id %>

	      		</td><br> -->
	   
	    		
	      		<td><%= link_to "Add to My Contacts", friendships_path(:friend_id => u), :method => :post, class: "btn btn-default btn-lg" %></td><br>
	      		<!-- <td><%#= link_to "Add a Meetme", new_meeting_path(:params =>{:receiver_id => u})%></td><br> -->
	      	
			
			</div>
			<% end %>


		</div>
	</div>

</div>

