<h1>Invite a Friend</h1>
<%= form_for(@emailinvitation) do |f| %>
	<p>
		<%= f.label :recipient_email, "Friend's Email Address:" %><br>
		<%= f.text_field :recipient_email %>
	</p>

	<p><%= f.submit "Invite Now!", class: "btn btn-sm btn-warning" %></p>

<% end %>
