<div class="container">
<h1>Invite a Friend</h1>

	<div class="form-inline">
		<%= form_for(@emailinvitation) do |f|%>

			<div class="form-group">
			<p>
				<%= f.label :recipient_email, "Friend's Email Address:" %><br>
				<%= f.text_field :recipient_email %>
			</p>
			</div>
			<p><%= f.submit "Invite Now!", class: "btn btn-default btn-lg loginnow" %></p>

		<% end %>

	</div>

</div>
