
@import "bootstrap-sprockets";
@import "bootstrap";


#map-canvas { 
width: 600px;
height: 600px; 
margin: 0; 
padding: 0;
}

.welcome {
margin-top: 0px;
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
text-align: center;
background-image: url("logo1.png");
background-attachment: fixed;
height:100%
}

.signin {
margin-top: 100px;
}

.invite {
text-align: right;
}
