
@import "bootstrap-sprockets";
@import "bootstrap";

body, html, main {
height: 100%;
}

#map-canvas { 
width: 600px;
height: 600px; 
margin: 0; 
padding: 0;
text-align: center;
margin-right: 250px;
margin-left: 250px;
border-radius: 5px;

}

.nav_signup {
	display: none;
	float:right;
	margin-top: 2%;

}

.navbar-default {
	background: transparent;
	color:white;
	
	
}


.form-inline .form-control {
	background: transparent;
	color: white;

}


.btn-default {
	background: transparent;
	color: white;
	border: 2px white solid;
	border-radius: 0px;
	width: 250px;
}



.btn-primary {
	background-color: transparent;
	border-radius: 0px;
	border: 2px white solid;
}

.btn-primary:hover, .btn-default:hover{
	background-color: white;
	color:grey;
	border-color: white;
}
.input-lg {
	border-radius: 0px;
	border: 2px white solid;
}

.input-lg:hover {
	background:white;
	color: grey;
}

.background {
background: url("filter4.jpg") no-repeat center center fixed;
/*background-attachment: fixed;*/
background-size: cover;
height:100%;
margin-top: 0px;
width: 100%;
}

.welcome {
margin-bottom: 0px;
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
font-color: white;
text-align: center;
width: 100%;
}

#greeting {
	color:white;
	
}

.login {
	color:white;

}

.login1 {
	text-align: center;
	margin-top: 2%;

}

.back {
	width: 100px;
	margin: 2%;

	
}

.signin {
display: none;
color: white;
padding-top: 10px;
text-align: center;
border-radius: 10px;

}

.form-group{
	margin-top: 5%;
}


.signin:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
 }

#logo {
background-image: url("logowhite.png");
background-repeat: no-repeat;
background-position: center;
height: 260px;
width: 100%;
margin-top: 2%;

}

#logo-signup {
	background-image: url("logowhite.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 260px;
	width: 100%;
	margin-top: -12%;
	
}

.registration {
	margin-top: 15%; 
	color: white;

}

.input-lg, .btn-file, .actions{
	margin-top: 5%;
	background: transparent;
	color: white;
}

/*div.home-nav {
	background-color: black;
	height: 50px;
	margin-top: -2%;
}*/
.invite {
text-align: right;
}

.profile {
background-color: white;
list-style-position: inline; 
}

.friended {
background-color: white;
}

.profilepage {
background-color: white;
}

.userprofile {
font-color: white;
margin-top: 0px;
background-color: white;
margin-right: 300px;
margin-left: 300px;
border-radius: 5px;
opacity: .75;
    filter: alpha(opacity=40);
padding-top: 50px;
padding-right: 45px;
padding-bottom: 40px;
padding-left: 40px;
}

.profile-image {
border-radius: 130px;
background-color: white;
border-right: 1px solid #000;
}


.friendlist {
	width: 70%;
	height: 900px;
	background-color: white;
	opacity: .75;
    	filter: alpha(opacity=40);
    	padding: 50px;
    	margin-right: 200px;
	margin-left: 200px;
	
}

#profile-image {
	border-radius: 50px;
	background-color: white;
}


.alert-success, .alert-danger{
	background-color: white;
	opacity: .75;
    	filter: alpha(opacity=40);
    	color: red;
    	height: 40px;
    	border-radius: 0px;

}


@media screen and (max-width: 768px) {
    .background {
        height: 750px;
    }

    .welcome {

    }

    .back {
    	margin-top: 3%;
    }

    .devise {
    	margin-top: 3%;
    }

    .login1 {
	text-align: center;
	margin-top: 10%;
	
    }

    .checkbox {
    	margin-top: -3%;
    }

}




@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
	max-width:200px;
	margin-right: 0;
	margin-left: 0;
}	

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}

